/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh;
    overflow: hidden;
}

/* Header Styles */
header {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; 
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #003366; 
}

.dashboard-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    max-width: 800px;
    width: 100%;
}

/* Main Section */
main {
    margin-top: 20px;
}

section h2 {
    font-size: 1.8em;
    color: #003366;
}

a.button {
    display: inline-block;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1em;
}

a.button:hover {
    background-color: #002244;
}

/* Menu Styles */
.menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px; 
    background-color: #003366; 
    padding-top: 20px;
    z-index: 2;
    transition: width 0.3s;
}

.menu-icon {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    text-align: center;
}

.menu-content {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background-color: #003366;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu-content ul {
    list-style-type: none;
    padding: 0;
}

.menu-content li {
    margin-bottom: 15px;
}

.menu-content a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.menu-content a:hover {
    color: #ddd;
}

/* Showing  Menu */
.menu-content.show {
    display: block;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .dashboard-container {
        padding: 20px;
    }

    header h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.5em;
    }

    a.button {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}
    