body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Light version of the Roboto font */
.roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Bold version of the Roboto font */
.roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


/* Resume container styles */
.resume {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    
    font-size: 32px;
    margin-bottom: 5px;
}

p {
    
    font-size: 16px;
    margin: 5px 0;
}

.tagline {
    font-style: italic;
    font-size: 18px;
    margin-top: -10px;
}

/* Main content layout */
.main-content {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 48%; 
}

/* Section styling */
section {
    margin-bottom: 20px;
}

h2 {
    
    font-size: 24px;
    color: #b8b8b8;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

/* Subsection styling */
.subsection h3 {
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

/* Unordered list styles */
ul {
    list-style-type: disc;
    margin-left: 40px; 
    padding-left: 0;  
}

ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

.subsection ul {
    margin-top: 20px;
}

.grey-text {
    color: grey;
}

/* Anchor tag styling */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Experience item styling */
.experience-item {
    margin-bottom: 15px;
}

/* Styling for technology text under projects */
.technologies {
    color: darkgrey;
}

header h1 {
    font-size: 50px; 
    font-weight: bold;
}